<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.spring.testable.mock.common.interceptor.interceptor1.DecryptInterceptor"/>
        <plugin interceptor="ccom.spring.testable.mock.common.interceptor.interceptor1.EncryptInterceptor"/>
    </plugins>
</configuration>

